<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-1 my-3'>
    <h5>タグが<%=@tag.name%>の投稿一覧</h5>
        <i class="fa-sharp fa-solid fa-tag"></i>
        <%=link_to @tag.name,search_tag_posts_path(tag_id: @tag.id) %>
        <%="(#{@tag.posts.count})" %>
      <%= render 'public/posts/index', posts: @posts %>
     </div>
  </div>
</div>  
