<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 text-center'>
      <h2>about</h2>
      <%= image_tag 'nagano_cake_logo.png', size: '300x300' %>
      <p>筋トレ好きな人筋トレ始めようと思っているそこのあなた！</p>
      <p>繋がりましょう</p>
      <p>
        日々の筋トレをみなさんで継続して<br>
        よりよいメニューを共有し合いましょう
        <i class="fa-solid fa-dumbbell fa-lg"></i>
      </p>
    </div>
  </div>
</div>