<table class='table table-hover table-inverse'>
  <tbody>
    <% posts.each do |post| %>
      <tr>
        <td width='70'><%= image_tag post.user.get_profile_image(50,50) %></td>
        <td><%= post.user.name %></td>
      </tr>
      <tr>
        <td style="border-top: none;"></td>
        <td style="border-top: none;"><%= post.body %></td>
      </tr>
      <% end %>
  </tbody>
</table>