<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8'>
      <h5 class='my-3'><%= @user.name %>さんのいいねしている投稿</h5>
        <%= render 'public/posts/index',posts: @post_favorite_posts %>
    </div>
  </div>
</div>
